.button {
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 1rem;

  @include breakpoint("small-up") { font-size: 1.5rem }

  &--light-grey{
    background-color: $light-grey;
    color: black;
  }
  &--grey{
    background-color: $grey;
    color: black;
  }
  &--purple{
    background-color: $purple;
    color: white;
  }
  &--pink{
    background-color: $pink;
    color: white;
  }
  &--dark-pink{
    background-color: $dark-pink;
    color: white;
  }
  &--yellow{
    background-color: $yellow;
    color: white;
  }
}
