@import "variables";

.columns {
  display: flex;
  flex-direction: column;

  &--large {
    @include breakpoint("large") {
      flex-direction: row;

      .column {
        margin: 0 15px;
      }
    }
  }

  &--medium {
    @include breakpoint("medium") {
      flex-direction: row;

      .column {
        margin: 0 15px;
      }
    }
  }

  &--small {
    flex-direction: row;

    .column {
      margin: 0 15px;
    }

    @include breakpoint("extra-small") {
      flex-direction: column;
      &.column {
        margin: 0;
      }
    }
  }
}

.column {
  &--1 { flex: 1 }
  &--2 { flex: 2 }
  &--3 { flex: 3 }
  &--4 { flex: 4 }
  &--5 { flex: 5 }
  &--6 { flex: 6 }
  &--7 { flex: 7 }
  &--8 { flex: 8 }
}
