@import "variables";

.fancy-form {
  @include colors("color");

  &__input {
    display: block;
    width: 100%;
    height: 20px;
    border: none;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 5px;

    @include breakpoint("medium") { width: 70%; }
  }
}
