@import "variables";

.popover {
  font-style: italic;
  position: relative;
  margin: 30px 0;

  @include colors("color");

  @include breakpoint("small-up") { margin: 15px 0; }

  &__content {
    position: absolute;
    padding: 5px 15px;
    font-style: normal;
    background-color: white;
    color: black;
    visibility: hidden;
    z-index: 999;

    &.active {
      visibility: visible;
    }
  }
}
