@import "variables";

.section {
  @include colors("background-color");

  &__content {
    padding: 30px;
    @include breakpoint("limiter");

    // &--full-height {
    //   height: 100%;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   height: -webkit-fill-available;
    //   height: -moz-available;
    //   height: available;
    // }
  }
}
