@import "variables";

.title {
  font-size: 2rem;

  @include breakpoint("medium") { font-size: 3rem }
  @include colors("color");

  &--thin { font-weight: 300}
}

.text {
  @include colors("color");
  @include breakpoint("medium") { font-size: 1.5rem }

  &--thin { font-weight: 300}
}
