// Colors
$light-grey: #f3f3f3;
$grey: #959595;
$purple: #734bd2;
$pink: #bb33bb;
$dark-pink: #a70fa7;
$yellow: #f2ce3b;

// Breakpoints
@mixin breakpoint($value) {
  @if $value == extra-small {
    @media (max-width: 400px) { @content; }
  }

  @else if $value == small-height {
    @media (max-height: 500px) { @content; }
  }

  @else if $value == small-only {
    @media (max-width: 599px) { @content; }
  }

  @else if $value == small-up {
    @media (min-width: 600px) { @content; }
  }

  @else if $value == medium {
    @media (min-width: 900px) { @content; }
  }

  @else if $value == large {
    @media (min-width: 1200px) { @content; }
  }

  @else if $value == extra-large {
    @media (min-width: 1800px) { @content; }
  }

  @else if $value == limiter {
    max-width: 1700px;
    margin: 0 auto;
  }
}

// managing theme colors with a mixin
@mixin colors($attribute) {
  @if $attribute == color {
    &--light-grey{ color: $light-grey };
    &--grey{ color: $grey };
    &--purple{ color: $purple };
    &--pink{ color: $pink };
    &--dark-pink{ color: $dark-pink };
    &--yellow{ color: $yellow };
    &--white{ color: white };
    &--black{ color: black };
  }

  @else if $attribute == background-color {
    &--light-grey{ background-color: $light-grey };
    &--grey{ background-color: $grey };
    &--purple{ background-color: $purple };
    &--pink{ background-color: $pink };
    &--dark-pink{ background-color: $dark-pink };
    &--yellow{ background-color: $yellow };
    &--white{ background-color: white };
    &--black{ background-color: black };
  }
}
