.section--light-grey {
  background-color: #f3f3f3; }
.section--grey {
  background-color: #959595; }
.section--purple {
  background-color: #734bd2; }
.section--pink {
  background-color: #bb33bb; }
.section--dark-pink {
  background-color: #a70fa7; }
.section--yellow {
  background-color: #f2ce3b; }
.section--white {
  background-color: white; }
.section--black {
  background-color: black; }
.section__content {
  padding: 30px;
  max-width: 1700px;
  margin: 0 auto; }

.columns {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1200px) {
    .columns--large {
      flex-direction: row; }
      .columns--large .column {
        margin: 0 15px; } }
  @media (min-width: 900px) {
    .columns--medium {
      flex-direction: row; }
      .columns--medium .column {
        margin: 0 15px; } }
  .columns--small {
    flex-direction: row; }
    .columns--small .column {
      margin: 0 15px; }
    @media (max-width: 400px) {
      .columns--small {
        flex-direction: column; }
        .columns--small.column {
          margin: 0; } }

.column--1 {
  flex: 1; }
.column--2 {
  flex: 2; }
.column--3 {
  flex: 3; }
.column--4 {
  flex: 4; }
.column--5 {
  flex: 5; }
.column--6 {
  flex: 6; }
.column--7 {
  flex: 7; }
.column--8 {
  flex: 8; }

.title {
  font-size: 2rem; }
  @media (min-width: 900px) {
    .title {
      font-size: 3rem; } }
  .title--light-grey {
    color: #f3f3f3; }
  .title--grey {
    color: #959595; }
  .title--purple {
    color: #734bd2; }
  .title--pink {
    color: #bb33bb; }
  .title--dark-pink {
    color: #a70fa7; }
  .title--yellow {
    color: #f2ce3b; }
  .title--white {
    color: white; }
  .title--black {
    color: black; }
  .title--thin {
    font-weight: 300; }

.text--light-grey {
  color: #f3f3f3; }
.text--grey {
  color: #959595; }
.text--purple {
  color: #734bd2; }
.text--pink {
  color: #bb33bb; }
.text--dark-pink {
  color: #a70fa7; }
.text--yellow {
  color: #f2ce3b; }
.text--white {
  color: white; }
.text--black {
  color: black; }
@media (min-width: 900px) {
  .text {
    font-size: 1.5rem; } }
.text--thin {
  font-weight: 300; }

.button {
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 1rem; }
  @media (min-width: 600px) {
    .button {
      font-size: 1.5rem; } }
  .button--light-grey {
    background-color: #f3f3f3;
    color: black; }
  .button--grey {
    background-color: #959595;
    color: black; }
  .button--purple {
    background-color: #734bd2;
    color: white; }
  .button--pink {
    background-color: #bb33bb;
    color: white; }
  .button--dark-pink {
    background-color: #a70fa7;
    color: white; }
  .button--yellow {
    background-color: #f2ce3b;
    color: white; }

.fancy-form--light-grey {
  color: #f3f3f3; }
.fancy-form--grey {
  color: #959595; }
.fancy-form--purple {
  color: #734bd2; }
.fancy-form--pink {
  color: #bb33bb; }
.fancy-form--dark-pink {
  color: #a70fa7; }
.fancy-form--yellow {
  color: #f2ce3b; }
.fancy-form--white {
  color: white; }
.fancy-form--black {
  color: black; }
.fancy-form__input {
  display: block;
  width: 100%;
  height: 20px;
  border: none;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 5px; }
  @media (min-width: 900px) {
    .fancy-form__input {
      width: 70%; } }

.popover {
  font-style: italic;
  position: relative;
  margin: 30px 0; }
  .popover--light-grey {
    color: #f3f3f3; }
  .popover--grey {
    color: #959595; }
  .popover--purple {
    color: #734bd2; }
  .popover--pink {
    color: #bb33bb; }
  .popover--dark-pink {
    color: #a70fa7; }
  .popover--yellow {
    color: #f2ce3b; }
  .popover--white {
    color: white; }
  .popover--black {
    color: black; }
  @media (min-width: 600px) {
    .popover {
      margin: 15px 0; } }
  .popover__content {
    position: absolute;
    padding: 5px 15px;
    font-style: normal;
    background-color: white;
    color: black;
    visibility: hidden;
    z-index: 999; }
    .popover__content.active {
      visibility: visible; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; }

.logo {
  max-width: 100px;
  height: auto; }

.center {
  width: 100%;
  text-align: center; }

.developer-tag {
  background-color: #a70fa7; }
  .developer-tag__inner {
    background-color: white;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
