// Color Variables, Breakpoints and utils
@import "components/variables";
@import "components/section";
@import "components/columns";
@import "components/title";
@import "components/button";
@import "components/fancy-form";
@import "components/popover";

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.logo {
  max-width: 100px;
  height: auto;
}

.center {
  width: 100%;
  text-align: center;
}

.developer-tag {  
  background-color: $dark-pink;

  &__inner {
    background-color: white;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
  }
}
